@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300&display=swap');


:root{
    --nome-variavel: valor;   /* criacao de variavel no CSS */
                              /* para utilizar usa-se: var(--nome-variavel); */
}


* { 
    margin: 0;
    padding: 0;
}

.cabecalho{
    border-bottom:0.25rem solid #22aa25; /* rem eh a unidade de medida que se adapta de acordo com as configuracoes presentes no     
                                              navegador de quem esta exibindo o conteudo html. 1rem = 16px */
    padding: 1.56rem;
}

.navegacao-pags{
    display: flex;
    gap: 5rem;
    padding: 0 14%;
}

.link-nav{
    font-size: 1.25rem;
    color:#ffeff1;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    box-sizing: border-box; /* faz os elementos filho se manterem visualmente dentro do body */
    /*height: 100vh;     utilizar 100% do espaco independentemente do tamanho da tela */
    background-color: #35155D; 
    color: #FFD2D7;
}

.destaque-titulo {   /* referenciando a classe criada no html */
    color: #22aa25;
}

.logo-alura {
    color: blue;
}

.capa {
    padding: 6% 15%;
    display: flex; /* centraliza os blocos dentro do elemento pai (conceito flexbox)*/
    align-items: center;
    gap: 82px;
    justify-content: space-between; /* divide o espaco igualmente entre os elementos filho */
}

.capa__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* dita o espacamento entre os elementos filho */
}

.capa__conteudo__titulo {
    font-size: 1.56rem;
    font-family: 'Krona One', sans-serif;
}

.capa__conteudo__desc {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}

.acesso-redes {
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    font-family: 'Krona One', sans-serif;
}

.desc__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.25rem;    
    font-family: 'Krona One', sans-serif;
}

.link {
    display: flex;
    gap: 0.93rem;
    border: 0.18rem solid #FFD2D7;
    width: 50%;
    color: #FFD2D7;
    text-align: center;
    border-radius: 0.625rem;
    padding: 0.625rem 0; /* Trata-se, da esquerda pra direita, do padding top e bot e depois left e right */
    text-decoration: none;
}

.insta-img{
    padding: 0 7%;
}

.github-img{
    padding: 0 7%;
}

.linkedin-img{
    padding: 0 7% 0 8%;
}

.link:hover {
    background-color: #471d7a;
    border: 0.18rem solid #ffeff1;
}

.foto{
    width: 38%;
    border-radius: 0.31rem;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background-color: #22aa25;
    color: #35155D;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Krona One', sans-serif;
    padding: 1.25rem;
}


@media (max-width: 1200px) {
    .capa{
        flex-direction: column-reverse;
        width: auto;
        padding: 5%;
    }

    .cabecalho{
        padding: 3%;
    }

    .navegacao-pags{
        justify-content: center;
    }
}

@media (max-width: 430px){
    .capa{
        padding: 3%;
    }
    .capa__conteudo{
        width: 90%;
    }
}